doctype html
html
  head
    title Gilad Gray
    link(rel="stylesheet", href="index.css")
    
  body
    .letter.g
    .letter.i
    .letter.l
    .letter.a
    .letter.d
    br
    .letter.g
    .letter.r
    .letter.a
    .letter.y
