$letter-color: #ddd;
$letter-hover-color: purple;

$letter-thickness: 0.2em;
$letter-width: 1em;
$letter-height: 1.5em;

$letter-border: $letter-thickness solid $letter-color;

body {
  font-size: 100px;

  * { box-sizing: border-box; }
}

#name { font-size: 100px; }
.alphabet { font-size: 40px; }

%letter-hover {
  border-color: $letter-hover-color;
  transform: rotateY(180deg);
}

%pseudo-letter {
  display: block;
  content: '';
  box-sizing: border-box;

  border-color: $letter-color;
  border-width: $letter-thickness;

  &:hover { border-color: $letter-hover-color; }
}

@mixin top-bottom() {
  border: none;

  &:before,
  &:after {
    @extend %pseudo-letter;
    width: $letter-width;
    height: $letter-height / 2;
  }
}

    width: $letter-width;
    height: $letter-height / 2;
  }
}

.letter {
  position: relative;
  display: inline-block;
  margin: $letter-thickness / 2;

  width: $letter-width;
  height: $letter-height;

  border-color: $letter-color;
  border-width: $letter-thickness;

  transition: transform 500ms ease;

  &:hover { @extend %letter-hover; }

  // &:hover,
  // &:hover:before,
  // &:hover:after { border-color: $letter-hover-color; }

  &.g {
    @include top-bottom();

    &:before {
      border-style: solid none none solid;
      border-radius: $letter-width 0 0 0;
    }

    &:after {
      border-style: none solid solid;
      border-radius: 0 0 0 $letter-width;
    }
  }

  &.i {
    border-style: solid none;

    &:before {
      @extend %pseudo-letter;

      height: $letter-height - $letter-thickness;
      border-left-style: solid;
      margin: 0 ($letter-width - $letter-thickness) / 2;
    }
  }

  &.l {
    border-style: none none solid solid;
  }

  &.a {
    border-radius: $letter-width $letter-width 0 0;
    border-style: solid solid none;

    &:before {
      @extend %pseudo-letter;

      position: absolute;
      top: 50%;
      left: -$letter-thickness;
      transform: translateY(-50%);

      width: $letter-width;
      border-top-style: solid;
    }
  }

  &.d {
    border-radius: 0 $letter-width $letter-width 0;
  }

  &.r {
    @include top-bottom();

    &:before {
      height: $letter-height / 2 + $letter-thickness;
      border: $letter-border;
      border-radius: 0 $letter-width $letter-width 0;
      margin-bottom: -$letter-thickness;
    }

    &:after {
      border: $letter-border;
      border-bottom: none;
      border-radius: 0 $letter-width / 3 0 0;
    }
  }

  &.y {
    @include top-bottom();

    &:before {
      height: $letter-height / 2 + $letter-thickness;
      border: $letter-border;
      border-top: none;
      border-radius: 0 0 $letter-width $letter-width;
    }

    &:after {
      height: $letter-height / 2 - $letter-thickness;
      margin: 0 ($letter-width - $letter-thickness) / 2;
      border-left: $letter-border;
    }
  }
}
