doctype html
html
  head
    title Gilad Gray
    link(rel="stylesheet", href="index.css")
    
  body
    .name
      .letter.g
      .letter.i
      .letter.l
      .letter.a
      .letter.d 
      br
      .letter.g
      .letter.r
      .letter.a
      .letter.y
    .intro
      .letter.u
      .letter.x
      .letter
      .letter.d
      .letter.e
      .letter.v
    ul.links
      li
        a(href="https://github.com/giladgray", target="_blank")
          .letter.g
          .letter.i
          .letter.t
          .letter.h
          .letter.u
          .letter.b
      li
        a(href="https://linkedin.com/in/giladgray", target="_blank")
          .letter.l
          .letter.i
          .letter.n
          .letter.k
          .letter.e
          .letter.d
          .letter.i
          .letter.n
